body {
    margin: 0;
}

.wrap {
    width: 100%;
    height: 100%;
}

canvas.ruler,
canvas.compass {
    cursor: crosshair;
}

canvas.hand {
    cursor: -webkit-grab;
}
canvas.hand:active {
    cursor: -webkit-grabbing;
}

.tools {
    position: fixed;
    display: flex;
}

.tools__btn {
    width: 2em;
    height: 2em;
    margin: .5em;
    color: white;
    cursor: pointer;
}

.tools__btn--active #back-circle {
    fill: #f77;
}

.zoom {
    position: fixed;
    right: 10px;
    bottom: 10px;
}